{
  "presets": [
    [
      "env",
      {
        "targets": { "browsers": ["ie >= 11"] },
        "modules": false,
        "loose": true
      }
    ]
  ],
  "plugins": ["transform-object-rest-spread", "transform-class-properties"],
  "env": {
    "commonjs": {
      "presets": [["env", { "loose": true }]]
    }
  }
}
